@layer components {
    .dialog {
        position: fixed;
        inset: 0;
        z-index: 100;

        display: grid;
        margin: auto;
        max-width: 90vw;
        width: 100%;
        max-height: 90vh;
        /**
         * Set overflow to visible to fix the issue where the before and after are hidden on the panel class because of
         * overflow: hidden.
         */
        overflow: visible;

        background-color: transparent;

        transition: opacity 0.2s ease-in-out;

        &:not([open]) {
            pointer-events: none;
            opacity: 0;
        }

        &::backdrop {
            /* TODO: animate backdrop once browser support it */
            background-color: var(--color);
        }

        @media (max-width: theme('screens.700')) {
            margin-bottom: 5vh;
        }
    }

    .dialog-wrapper {
        display: grid;
        grid-template-rows: auto 1fr auto;
        align-items: start;
        overflow: hidden;

        max-height: 90vh;
    }

    .dialog-content {
        max-height: 100%;
        overflow-y: auto;
    }
}
