/* TODO: fix prettier-ignore */
/* prettier-ignore */
@layer components {
    /* ---------------------------------------------------------------------- */
    /* flow */
    /* ---------------------------------------------------------------------- */
    .flow {
        --flow-side-width: 1.25rem;
        --flow-side-border: theme('borderWidth.DEFAULT');
        --flow-side-offset-width: calc((var(--flow-side-width) - var(--flow-side-border)) * 0.5);
        --flow-left-spacing: theme('space.7');
        --flow-left-spacing-from-line: calc(var(--flow-left-spacing) + var(--flow-side-offset-width));
        --flow-first-column: calc(var(--flow-side-offset-width) + var(--flow-side-border));
    }

    .flow-grid-cols {
        grid-template-columns: var(--flow-first-column) var(--flow-side-offset-width) 1fr;
    }

    .flow-line-w {
        width: var(--flow-side-border);
    }

    /* ---------------------------------------------------------------------- */
    /* flow-subtitle */
    /* ---------------------------------------------------------------------- */
    .flow-subtitle-dot {
        left: calc((var(--flow-left-spacing-from-line) * -1) - (var(--flow-side-border) * 0.5));
    }

    /* ---------------------------------------------------------------------- */
    /* flow-content */
    /* ---------------------------------------------------------------------- */
    .flow-content-pl {
        padding-left: var(--flow-left-spacing-from-line);
    }

    /* ---------------------------------------------------------------------- */
    /* flow-item */
    /* ---------------------------------------------------------------------- */
    .flow-item-dot {
        left: calc((var(--item-image-to-content-spacing, 0rem) * -1) - var(--item-image-max-width, 0rem) - var(--flow-left-spacing) - (var(--flow-side-border) * 0.5) - var(--flow-side-offset-width));
    }

    /* TODO: explain important */
    .flow-item-pl {
        padding-left: var(--flow-left-spacing-from-line) !important;
    }

    /* ---------------------------------------------------------------------- */
    /* flow-table */
    /* ---------------------------------------------------------------------- */
    .flow-table-pl {
        padding-left: var(--flow-left-spacing-from-line);
    }

    /* ---------------------------------------------------------------------- */
    /* flow-table-body-row */
    /* ---------------------------------------------------------------------- */
    /* TODO: explain important */
    .flow-table-body-row::before {
        width: calc(100% + var(--flow-left-spacing-from-line));
        left: calc(var(--flow-left-spacing-from-line) * -1) !important;
    }

    .flow-table-body-row-dot-column {
        left: calc((var(--flow-left-spacing-from-line) * -1) - (var(--flow-side-border) * 0.5));
    }
}
