@layer components {
    .item-with-image {
        --item-image-to-content-spacing: theme('space.6');
        --item-image-max-width: 9.5rem;
    }

    .item-with-image-gap {
        gap: var(--item-image-to-content-spacing, 0);
    }

    .item-image-max-w {
        max-width: var(--item-image-max-width, 0);
    }
}
