/* TODO: Part of Text component or keep here? */
@layer utilities {
    .fg-title {
        font-family: theme('fontFamily.sans');
        font-weight: theme('fontWeight.bold');
        font-size: theme('fontSize.6');
        line-height: theme('lineHeight.normal');
    }

    .fgv-title-lg {
        font-size: theme('fontSize.8');
    }

    .fg-text {
        font-family: theme('fontFamily.sans');
        font-weight: theme('fontWeight.normal');
        font-size: theme('fontSize.5');
        line-height: theme('lineHeight.normal');
    }

    .fg-action {
        font-family: theme('fontFamily.sans');
        font-weight: theme('fontWeight.bold');
        font-size: theme('fontSize.5');
        line-height: theme('lineHeight.normal');
    }

    .fg-number {
        font-family: theme('fontFamily.sans');
        font-weight: theme('fontWeight.bold');
        font-size: theme('fontSize.2');
        line-height: theme('lineHeight.normal');
    }

    .fg-label {
        font-family: theme('fontFamily.sans');
        font-weight: theme('fontWeight.bold');
        font-size: theme('fontSize.4');
        line-height: theme('lineHeight.normal');
    }

    .fgv-flat {
        line-height: theme('lineHeight.none');
    }

    .fgv-fat {
        font-weight: theme('fontWeight.bold');
    }
}
