@layer base {
	:root {
		--color-site-background: 30 100% 99%;
		--color-site-contrast-1: 222 30% 16%;
		--color-site-contrast-2: 215 16% 47%;
		--color-site-accent: 11 68% 59% / 0.05;

		--color-accent: 11 68% 59%;
		--color-accent-contrast: 222 30% 16%;

		--color-border: 222 30% 16%;
		--color-border-alt: 222 30% 16%;
	}

	/**
	 * TODO: once development is "done", replace html.dark by the
	 * prefers-color-scheme:
	 * @media (prefers-color-scheme: dark) { :root {} }
	 */
	html.dark {
		--color-site-background: 223 30% 18%;
		--color-site-contrast-1: 30 100% 99%;
		--color-site-contrast-2: 215 16% 70%;
		--color-site-accent: 11 68% 59% / 0.05;

		--color-accent: 11 68% 59%;
		--color-accent-contrast: 30 100% 99%;

		--color-border: 0 0% 0%;
		--color-border-alt: 30 100% 99%;
	}
}
