@layer base {
	h1 {
	}

	p,
	.typo-p {
		font-family: "Inter", "sans-serif", "serif";
		font-size: theme("fontSize.2");
		line-height: theme("lineHeight.normal");
		font-weight: theme("fontWeight.normal");
	}
}
